@model IEnumerable<BetaClientesVM.PML.PMLCursosVM>

<table id="tablacursos" class="table datatable-basic small coloresTablas" width="100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Objetivos</th>
            <th class="text-center">Agregar Curso</th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            foreach (var row in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => row.Cur_Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => row.Cur_Objetivos)</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-sm btn-primary rounded-pill text-white mr-1" onclick="AgregarCurso('@Json.Encode(row)')" title="Editar">
                                <i class="fa fa-plus-circle fa-1x"></i>
                            </button>

                        </div>
                    </td>
                </tr>

            }
        }

    </tbody>
</table>


